### Stock Return Prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime

import torch

torch.manual_seed(0)
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
stock_ticker_list = pd.read_csv('/content/drive/MyDrive/WorkSpace/COMP3027J/data/Stock/Stock_Ticker_List.csv')

In [4]:
stock_ticker_list.head()

  Symbol                 Name                  Sector
0   AAPL           Apple Inc.  Information Technology
1   ABBV          AbbVie Inc.             Health Care
2    ABT  Abbott Laboratories             Health Care
3    ACN            Accenture  Information Technology
4   ADBE           Adobe Inc.  Information Technology

#### Read one asset price

In [5]:
aapl_df = pd.read_csv('/content/drive/MyDrive/WorkSpace/COMP3027J/data/Stock/Pretest_data/AAPL.csv')

In [6]:
aapl_df.head(16)

          Date       Open       High  ...      Close  Adj Close      Volume
0   2011-04-28  12.363929  12.491071  ...  12.383929  10.667065   360959200
1   2011-04-29  12.385000  12.641071  ...  12.504643  10.771044  1006345200
2   2011-05-02  12.490714  12.516786  ...  12.367143  10.652606   442713600
3   2011-05-03  12.428214  12.496071  ...  12.435714  10.711670   313348000
4   2011-05-04  12.437857  12.565357  ...  12.484643  10.753815   389250400
5   2011-05-05  12.442857  12.533929  ...  12.383929  10.667065   335969200
6   2011-05-06  12.488929  12.500000  ...  12.380714  10.664294   280134400
7   2011-05-09  12.423571  12.471429  ...  12.414286  10.693214   204747200
8   2011-05-10  12.460357  12.488929  ...  12.480357  10.750122   282091600
9   2011-05-11  12.465000  12.500000  ...  12.401071  10.681831   336000000
10  2011-05-12  12.361429  12.397143  ...  12.377500  10.661525   322000000
11  2011-05-13  12.345000  12.366071  ...  12.160714  10.474795   326116000
12  2011-05-16  12.114286  12.186429  ...  11.903571  10.253304   449775200
13  2011-05-17  11.857143  12.005000  ...  12.005000  10.340669   452334400
14  2011-05-18  12.016786  12.180357  ...  12.138214  10.455414   334776400
15  2011-05-19  12.217143  12.228929  ...  12.161786  10.475718   261170000

[16 rows x 7 columns]

In [7]:
len(aapl_df)

2514

In [8]:
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'])
aapl_df['day_of_week'] = aapl_df['Date'].dt.day_name()
aapl_df.tail(10)

           Date        Open        High  ...   Adj Close    Volume  day_of_week
2504 2021-04-12  132.520004  132.850006  ...  131.240005  91420000       Monday
2505 2021-04-13  132.440002  134.660004  ...  134.429993  91266500      Tuesday
2506 2021-04-14  134.940002  135.000000  ...  132.029999  87222800    Wednesday
2507 2021-04-15  133.820007  135.000000  ...  134.500000  89347100     Thursday
2508 2021-04-16  134.300003  134.669998  ...  134.160004  84818500       Friday
2509 2021-04-19  133.509995  135.470001  ...  134.839996  94264200       Monday
2510 2021-04-20  135.020004  135.529999  ...  133.110001  94812300      Tuesday
2511 2021-04-21  132.360001  133.750000  ...  133.500000  68847100    Wednesday
2512 2021-04-22  133.039993  134.149994  ...  131.940002  84566500     Thursday
2513 2021-04-23  132.160004  135.119995  ...  134.320007  78657500       Friday

[10 rows x 8 columns]

In [9]:
columns = ['Open','High','Low','Close']

In [10]:
aapl_df[columns].iloc[1:]

            Open        High         Low       Close
1      12.385000   12.641071   12.381071   12.504643
2      12.490714   12.516786   12.339286   12.367143
3      12.428214   12.496071   12.343571   12.435714
4      12.437857   12.565357   12.388571   12.484643
5      12.442857   12.533929   12.358929   12.383929
...          ...         ...         ...         ...
2509  133.509995  135.470001  133.339996  134.839996
2510  135.020004  135.529999  131.809998  133.110001
2511  132.360001  133.750000  131.300003  133.500000
2512  133.039993  134.149994  131.410004  131.940002
2513  132.160004  135.119995  132.160004  134.320007

[2513 rows x 4 columns]

In [11]:
aapl_df[columns].iloc[:-1]

            Open        High         Low       Close
0      12.363929   12.491071   12.340000   12.383929
1      12.385000   12.641071   12.381071   12.504643
2      12.490714   12.516786   12.339286   12.367143
3      12.428214   12.496071   12.343571   12.435714
4      12.437857   12.565357   12.388571   12.484643
...          ...         ...         ...         ...
2508  134.300003  134.669998  133.279999  134.160004
2509  133.509995  135.470001  133.339996  134.839996
2510  135.020004  135.529999  131.809998  133.110001
2511  132.360001  133.750000  131.300003  133.500000
2512  133.039993  134.149994  131.410004  131.940002

[2513 rows x 4 columns]

In [12]:
a_df2 = aapl_df[columns].iloc[1:].values/aapl_df[columns].iloc[:-1] -1
a_df2.head(15)

        Open      High       Low     Close
0   0.001704  0.012009  0.003328  0.009748
1   0.008536 -0.009832 -0.003375 -0.010996
2  -0.005004 -0.001655  0.000347  0.005545
3   0.000776  0.005545  0.003646  0.003935
4   0.000402 -0.002501 -0.002393 -0.008067
5   0.003703 -0.002707  0.000462 -0.000260
6  -0.005233 -0.002286  0.000924  0.002712
7   0.002961  0.001403  0.000375  0.005322
8   0.000373  0.000886 -0.004096 -0.006353
9  -0.008309 -0.008229 -0.008603 -0.001901
10 -0.001329 -0.002506 -0.005610 -0.017514
11 -0.018689 -0.014527 -0.022771 -0.021145
12 -0.021226 -0.014888 -0.005622  0.008521
13  0.013464  0.014607  0.015934  0.011097
14  0.016673  0.003988  0.007946  0.001942

In [13]:
a_df2 = a_df2*100
a_df2

          Open      High       Low     Close
0     0.170427  1.200862  0.332828  0.974765
1     0.853564 -0.983190 -0.337493 -1.099598
2    -0.500372 -0.165496  0.034725  0.554462
3     0.077586  0.554465  0.364563  0.393457
4     0.040201 -0.250119 -0.239270 -0.806701
...        ...       ...       ...       ...
2508 -0.588242  0.594047  0.045016  0.506852
2509  1.131009  0.044288 -1.147442 -1.282999
2510 -1.970081 -1.313361 -0.386916  0.292990
2511  0.513745  0.299061  0.083778 -1.168537
2512 -0.661447  0.723072  0.570733  1.803854

[2513 rows x 4 columns]

In [14]:
pct_change = aapl_df[columns].pct_change()
pct_change

          Open      High       Low     Close
0          NaN       NaN       NaN       NaN
1     0.001704  0.012009  0.003328  0.009748
2     0.008536 -0.009832 -0.003375 -0.010996
3    -0.005004 -0.001655  0.000347  0.005545
4     0.000776  0.005545  0.003646  0.003935
...        ...       ...       ...       ...
2509 -0.005882  0.005940  0.000450  0.005069
2510  0.011310  0.000443 -0.011474 -0.012830
2511 -0.019701 -0.013134 -0.003869  0.002930
2512  0.005137  0.002991  0.000838 -0.011685
2513 -0.006614  0.007231  0.005707  0.018039

[2514 rows x 4 columns]

In [15]:
b_df = a_df2.shift(-1)
b_df = b_df.rename({'Open':'Open+1','High':'High+1','Low':'Low+1','Close':'Close+1','Volume':'Volume+1'},axis=1)

In [16]:
ab_df = pd.concat([a_df2, b_df], axis=1)
ab_df

          Open      High       Low  ...    High+1     Low+1   Close+1
0     0.170427  1.200862  0.332828  ... -0.983190 -0.337493 -1.099598
1     0.853564 -0.983190 -0.337493  ... -0.165496  0.034725  0.554462
2    -0.500372 -0.165496  0.034725  ...  0.554465  0.364563  0.393457
3     0.077586  0.554465  0.364563  ... -0.250119 -0.239270 -0.806701
4     0.040201 -0.250119 -0.239270  ... -0.270696  0.046237 -0.025960
...        ...       ...       ...  ...       ...       ...       ...
2508 -0.588242  0.594047  0.045016  ...  0.044288 -1.147442 -1.282999
2509  1.131009  0.044288 -1.147442  ... -1.313361 -0.386916  0.292990
2510 -1.970081 -1.313361 -0.386916  ...  0.299061  0.083778 -1.168537
2511  0.513745  0.299061  0.083778  ...  0.723072  0.570733  1.803854
2512 -0.661447  0.723072  0.570733  ...       NaN       NaN       NaN

[2513 rows x 8 columns]

In [17]:
def shift_concat_df(input_df, sequence_length, rename_type=1):
    a_df = input_df.copy()
    for i in range(sequence_length-1):
        b_df = input_df.shift(-1*(i+1))
        if rename_type is 1:
            b_df = b_df.rename({'Open':'Open+'+str(i+1),'High':'High+'+str(i+1),'Low':'Low+'+str(i+1),'Close':'Close+'+str(i+1),'Volume':'Volume+'+str(i+1)},axis=1)
        else:
            b_df = b_df.rename({'Close':'Close+'+str(i+1)},axis=1)
        a_df = pd.concat([a_df, b_df], axis=1)
    return a_df

In [18]:
X = shift_concat_df(a_df2, 10)
X.tail(15)

          Open      High       Low  ...    High+9     Low+9   Close+9
2498  0.169820  1.594462  0.473510  ... -0.244446 -0.269381 -0.252785
2499  2.123191  0.768860  2.096369  ...  0.594047  0.045016  0.506852
2500 -0.529643  0.621412 -0.405891  ...  0.044288 -1.147442 -1.282999
2501  2.479532  1.930895  2.700979  ... -1.313361 -0.386916  0.292990
2502  0.659175  2.032360  0.739182  ...  0.299061  0.083778 -1.168537
2503  2.095532 -0.142805  0.895963  ...  0.723072  0.570733  1.803854
2504 -0.060370  1.362437  0.995168  ...       NaN       NaN       NaN
2505  1.887647  0.252485 -0.204646  ...       NaN       NaN       NaN
2506 -0.829995  0.000000  1.503870  ...       NaN       NaN       NaN
2507  0.358688 -0.244446 -0.269381  ...       NaN       NaN       NaN
2508 -0.588242  0.594047  0.045016  ...       NaN       NaN       NaN
2509  1.131009  0.044288 -1.147442  ...       NaN       NaN       NaN
2510 -1.970081 -1.313361 -0.386916  ...       NaN       NaN       NaN
2511  0.513745  0.299061  0.083778  ...       NaN       NaN       NaN
2512 -0.661447  0.723072  0.570733  ...       NaN       NaN       NaN

[15 rows x 40 columns]

In [19]:
len(X)

2513

In [20]:
X = X.loc[0:len(X)-10]
X.tail()

          Open      High       Low  ...    High+9     Low+9   Close+9
2499  2.123191  0.768860  2.096369  ...  0.594047  0.045016  0.506852
2500 -0.529643  0.621412 -0.405891  ...  0.044288 -1.147442 -1.282999
2501  2.479532  1.930895  2.700979  ... -1.313361 -0.386916  0.292990
2502  0.659175  2.032360  0.739182  ...  0.299061  0.083778 -1.168537
2503  2.095532 -0.142805  0.895963  ...  0.723072  0.570733  1.803854

[5 rows x 40 columns]

In [21]:
len(X)

2504

In [22]:
X_train = X.loc[0:len(X)-11]
X_train.tail()

          Open      High       Low  ...    High+9     Low+9   Close+9
2489  0.358632  2.009390  0.484627  ...  1.594462  0.473510  2.357725
2490  2.493144  0.298696  1.563277  ...  0.768860  2.096369  0.246225
2491 -0.413526 -1.078555 -1.694776  ...  0.621412 -0.405891  1.339040
2492 -2.670574 -1.008949 -0.891147  ...  1.930895  2.700979  1.923377
2493  0.677595 -0.147954 -0.067228  ...  2.032360  0.739182  2.025161

[5 rows x 40 columns]

In [23]:
len(X_train)

2494

In [24]:
X_test = X.loc[len(X_train)+4:len(X_train)+4]
X_test

         Open      High      Low  ...    High+9     Low+9   Close+9
2498  0.16982  1.594462  0.47351  ... -0.244446 -0.269381 -0.252785

[1 rows x 40 columns]

In [25]:
a_df3 = a_df2[['Close']]
Y_df = shift_concat_df(a_df3.shift(-10),5,2)
Y_df

         Close   Close+1   Close+2   Close+3   Close+4
0    -1.751448 -2.114539  0.852089  1.109654  0.194196
1    -2.114539  0.852089  1.109654  0.194196 -1.559334
2     0.852089  1.109654  0.194196 -1.559334 -0.244621
3     1.109654  0.194196 -1.559334 -0.244621 -0.660880
4     0.194196 -1.559334 -0.244621 -0.660880  1.381735
...        ...       ...       ...       ...       ...
2508       NaN       NaN       NaN       NaN       NaN
2509       NaN       NaN       NaN       NaN       NaN
2510       NaN       NaN       NaN       NaN       NaN
2511       NaN       NaN       NaN       NaN       NaN
2512       NaN       NaN       NaN       NaN       NaN

[2513 rows x 5 columns]

In [26]:
def add_5day_return(df):
    y3 = df/100+1
    y3 = (y3.prod(axis = 1)-1)*100
    df['5-days']=y3
    return df

In [27]:
Y_train = Y_df.loc[0:len(X_train)-1]
Y_train = add_5day_return(Y_train)
Y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         Close   Close+1   Close+2   Close+3   Close+4    5-days
0    -1.751448 -2.114539  0.852089  1.109654  0.194196 -1.742787
1    -2.114539  0.852089  1.109654  0.194196 -1.559334 -1.550657
2     0.852089  1.109654  0.194196 -1.559334 -0.244621  0.330033
3     1.109654  0.194196 -1.559334 -0.244621 -0.660880 -1.175105
4     0.194196 -1.559334 -0.244621 -0.660880  1.381735 -0.909172
...        ...       ...       ...       ...       ...       ...
2489  0.246225  1.339040  1.923377  2.025161 -1.323304  4.241465
2490  1.339040  1.923377  2.025161 -1.323304  2.430652  6.512950
2491  1.923377  2.025161 -1.323304  2.430652 -1.785311  3.229083
2492  2.025161 -1.323304  2.430652 -1.785311  1.870788  3.175820
2493 -1.323304  2.430652 -1.785311  1.870788 -0.252785  0.872183

[2494 rows x 6 columns]

In [28]:

Y_test = Y_df.loc[len(X_train)+4:len(X_train)+4]
Y_test = add_5day_return(Y_test)
Y_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         Close   Close+1  Close+2   Close+3   Close+4    5-days
2498  0.506852 -1.282999  0.29299 -1.168537  1.803854  0.119263

In [29]:
from torch.utils.data import Dataset
class stock_dataset(Dataset):
    def __init__(self, input_df, label_df, transform=None):
        self.len = len(input_df)
        self.X = torch.from_numpy(input_df.values).reshape(len(input_df),10,4)
        self.Y = torch.from_numpy(label_df.values)
        self.transform = transform
    
    def __getitem__(self, index):
        sample=self.X[index], self.Y[index]
        if self.transform:
            sample.self.transform(sample)
        return sample
    
    def __len__(self):
        return self.len

In [30]:
import torch
import torch.nn as nn

In [31]:
# If there's a GPU available...
if torch.cuda.is_available():    
    
    # Tell PyTorch to use the GPU.    
    device = torch.device("cuda")
    print('There are %d GPU(s) available.' % torch.cuda.device_count())
    print('We will use the GPU:', torch.cuda.get_device_name(0))

# If not...
else:
    print('No GPU available, using the CPU instead.')
    device = torch.device("cpu")

There are 1 GPU(s) available.
We will use the GPU: Tesla T4

In [63]:
# How many epoch we want to use
num_epochs = 100
# Learning rate
learning_rate = 0.001
# Input size (how many sequence)
input_size = 4
# Each sequence length
sequence_length = 10
# Hidden size - number of features of the hidden state for RNN
hidden_size = 60
# Number of layers
num_layers = 1
# Number of classes
num_predictions = 6
# The number of samples selected for one training session.
batch_size = 64

In [34]:
class RNN(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, num_classes):
        super(RNN, self).__init__()
        self.num_layers = num_layers
        self.hidden_size = hidden_size
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, dropout = 0.5, batch_first=True)
        self.fc = nn.Linear(hidden_size, num_classes)
        
    def forward(self, x):
        
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(device)
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(device)
        
        out, _ = self.lstm(x, (h0, c0))    # _ : (hn, cn)
        # out: batch_size, seq_length, hidden_size
        
        out = out[:, -1, :]   # only get last sequence
        
        #out = self.fc(lstm_out.view(-1,hidden_size))
        out = self.fc(out)
        return out

In [38]:
def getData(sticker):
    aapl_df = pd.read_csv('/content/drive/MyDrive/WorkSpace/COMP3027J/data/Stock/Pretest_data/'+sticker+'.csv')
    columns = ['Open','High','Low','Close']
    a_df2 = aapl_df[columns].iloc[1:].values/aapl_df[columns].iloc[:-1] -1
    a_df2 = a_df2*100
    X = shift_concat_df(a_df2, 10)
    X = X.loc[0:len(X)-10]
    X_train = X.loc[0:len(X)-11]
    X_test = X.loc[len(X_train)+4:len(X_train)+4]
    a_df3 = a_df2[['Close']]
    Y_df = shift_concat_df(a_df3.shift(-10),5,2)
    Y_train = Y_df.loc[0:len(X_train)-1]
    Y_train = add_5day_return(Y_train)
    Y_test = Y_df.loc[len(X_train)+4:len(X_train)+4]
    Y_test = add_5day_return(Y_test)
    
    return X_train,Y_train, X_test, Y_test

In [60]:
def predict(X_train,Y_train, X_test):
    
    train_set = stock_dataset(X_train,Y_train)
    train_loader = Data.DataLoader(dataset=train_set, batch_size=batch_size)
    
    model = RNN(input_size, hidden_size, num_layers, num_predictions).to(device)
    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)
    
    for epoch in range(num_epochs):
        for i, (xs, ys) in enumerate(train_loader):

            xs = xs.to(device)
            ys = ys.to(device)
        
            # Forward pass
            outputs = model(xs.float())
            day_tensor = outputs[0:len(outputs),0:5].reshape(len(outputs),5)
            #print(str(i)+'lallalallal')
            #print(day_tensor)
            #print(day_tensor.size())
            week_tensor = outputs[0:len(outputs),5:6].reshape(len(outputs))
            #print(week_tensor.size())
            day_to_week_tensor = torch.prod(day_tensor*100+1,1)-1
            #print(day_to_week_tensor.size())
            loss1 = criterion(day_to_week_tensor,week_tensor)
            #print(loss1.item())
            loss2 = criterion(outputs, ys.float())
            #print(loss2.item())
            loss = 0.01*loss1+loss2
            #print(loss.item())
        
            # Backward and optimize
            optimizer.zero_grad()
            loss.backward()
            optimizer.step()
            
        if epoch%10 ==0: 
            print (f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')## - Test
            
    tt =torch.from_numpy(X_test.values).reshape(len(X_test),10,4)
    tt = tt.to(device)
    outputs = model(tt.float())
    
    return outputs

In [64]:
X_train,Y_train, X_test, Y_test = getData('IBM')
outputs = predict(X_train,Y_train, X_test)
print(outputs)
ytt = torch.from_numpy(Y_test.values).float().to(device)
errors = criterion(outputs, ytt)
print(ytt)
print(errors)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/torch/nn/modules/rnn.py:63: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.5 and num_layers=1
  "num_layers={}".format(dropout, num_layers))

Epoch [1/100], Loss: 6.2390
Epoch [11/100], Loss: 4.5604
Epoch [21/100], Loss: 4.4537
Epoch [31/100], Loss: 4.3903
Epoch [41/100], Loss: 4.3575
Epoch [51/100], Loss: 4.3368
Epoch [61/100], Loss: 4.3228
Epoch [71/100], Loss: 4.3127
Epoch [81/100], Loss: 4.3045
Epoch [91/100], Loss: 4.2975
tensor([[-0.0160,  0.0047, -0.0450, -0.0032, -0.0110, -0.0644]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.3518,  3.7861,  3.9013, -1.5813,  0.8140,  6.6173]],
       device='cuda:0')
tensor(12.9667, device='cuda:0', grad_fn=<MseLossBackward>)

In [65]:
X_train,Y_train, X_test, Y_test = getData('BK')
outputs = predict(X_train,Y_train, X_test)
print(outputs)
ytt = torch.from_numpy(Y_test.values).float().to(device)
errors = criterion(outputs, ytt)
print(ytt)
print(errors)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/torch/nn/modules/rnn.py:63: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.5 and num_layers=1
  "num_layers={}".format(dropout, num_layers))

Epoch [1/100], Loss: 1019.8366
Epoch [11/100], Loss: 37.7696
Epoch [21/100], Loss: 18.7730
Epoch [31/100], Loss: 13.6546
Epoch [41/100], Loss: 11.4968
Epoch [51/100], Loss: 10.0732
Epoch [61/100], Loss: 9.0275
Epoch [71/100], Loss: 8.2336
Epoch [81/100], Loss: 7.6226
Epoch [91/100], Loss: 7.1532
tensor([[-0.0153,  0.0695, -0.0182, -0.1054, -0.0142,  0.1152]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 1.6063, -0.4913,  1.3096, -1.3562,  2.2556,  3.3210]],
       device='cuda:0')
tensor(3.6168, device='cuda:0', grad_fn=<MseLossBackward>)

In [52]:
def do_it():
    fo = open("prediction.csv", "w")
    fo.write('tickers,return_day_1,return_day_2,return_day_3,return_day_4,return_day_5,return_week\n')
    stock_ticker_list = pd.read_csv('/content/drive/MyDrive/WorkSpace/COMP3027J/data/Stock/Stock_Ticker_List.csv')
    stickers = stock_ticker_list['Symbol'].values
    for i in range(len(stickers)):
        X_train,Y_train, X_test, Y_test = getData(stickers[i])
        outputs = predict(X_train,Y_train, X_test)
        print(outputs)
        ytt = torch.from_numpy(Y_test.values).float().to(device)
        print(ytt)
        e = criterion(outputs, ytt)
        print(e.item())
        a = outputs.cpu().detach().view(6).numpy()
        #b = a/100+1
        #print(b)
        #print(np.prod(b))
        #a = np.append(a,np.prod(b)-1)
        s = stickers[i]+','+np.array2string(a,formatter={'float_kind':lambda x: "%.2f" % x},separator=',')[1:-1]
        if i!= (len(stickers)-1):
            s = s + '\n'
        fo.write(s)
        print(stickers[i]+' done!')
    fo.close()
    return None

In [55]:
do_it()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/torch/nn/modules/rnn.py:63: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.5 and num_layers=1
  "num_layers={}".format(dropout, num_layers))

Epoch [1/50], Loss: 14184.6611
Epoch [11/50], Loss: 1756.5986
Epoch [21/50], Loss: 1114.1973
Epoch [31/50], Loss: 713.6559
Epoch [41/50], Loss: 321.2790
tensor([[-0.0177, -0.0664, -0.0242,  0.0032, -0.0378, -0.2799]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.5069, -1.2830,  0.2930, -1.1685,  1.8039,  0.1193]],
       device='cuda:0')
1.1300060749053955
AAPL done!
Epoch [1/50], Loss: 528813.4375
Epoch [11/50], Loss: 38813.7188
Epoch [21/50], Loss: 14377.7754
Epoch [31/50], Loss: 7968.7217
Epoch [41/50], Loss: 5216.7446
tensor([[ 0.0342, -0.0209, -0.0005, -0.0120,  0.0854, -0.2140]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.6487,  0.3867,  1.6234, -0.6769,  1.2085,  3.2156]],
       device='cuda:0')
2.774442195892334
ABBV done!
Epoch [1/50], Loss: 535707.2500
Epoch [11/50], Loss: 33851.0547
Epoch [21/50], Loss: 13922.4609
Epoch [31/50], Loss: 6697.1724
Epoch [41/50], Loss: 3775.4065
tensor([[-0.0074,  0.0026, -0.0130,  0.0664,  0.0242, -0.1051]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.1448, -3.6377,  2.1667,  0.7341, -0.1538, -0.8363]],
       device='cuda:0')
3.1729817390441895
ABT done!
Epoch [1/50], Loss: 270727.5000
Epoch [11/50], Loss: 5837.7163
Epoch [21/50], Loss: 1818.7092
Epoch [31/50], Loss: 868.0447
Epoch [41/50], Loss: 485.4833
tensor([[ 0.0036, -0.0106,  0.0405,  0.0335, -0.0621,  0.0907]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.1464,  0.7189,  0.7346, -0.1926,  0.5445,  1.6657]],
       device='cuda:0')
0.6560275554656982
ACN done!
Epoch [1/50], Loss: 162757.3594
Epoch [11/50], Loss: 10809.2236
Epoch [21/50], Loss: 3332.8757
Epoch [31/50], Loss: 1997.8420
Epoch [41/50], Loss: 1598.9536
tensor([[-0.0462,  0.0909, -0.0163, -0.0159, -0.0329, -0.0220]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.6969, -0.3797, -0.3637, -0.9857,  1.6854, -1.7597]],
       device='cuda:0')
1.6633250713348389
ADBE done!
Epoch [1/50], Loss: 220083.7344
Epoch [11/50], Loss: 25617.6680
Epoch [21/50], Loss: 11130.5342
Epoch [31/50], Loss: 6251.3813
Epoch [41/50], Loss: 3812.4744
tensor([[-0.0455, -0.0051,  0.1068, -0.0005, -0.0160,  0.0647]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.7856, -2.5679,  2.7015, -0.6416,  1.8941,  0.5096]],
       device='cuda:0')
3.017606735229492
AIG done!
Epoch [1/50], Loss: 2107908.7500
Epoch [11/50], Loss: 30580.7109
Epoch [21/50], Loss: 3702.4131
Epoch [31/50], Loss: 2175.6760
Epoch [41/50], Loss: 1293.6617
tensor([[-0.0147,  0.1158, -0.0128,  0.0488, -0.0488,  0.0914]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.1017,  1.2384, -0.1389, -1.4414,  0.7763,  0.5162]],
       device='cuda:0')
0.7285858988761902
AMGN done!
Epoch [1/50], Loss: 80342.4297
Epoch [11/50], Loss: 6800.4263
Epoch [21/50], Loss: 2769.1377
Epoch [31/50], Loss: 1439.9568
Epoch [41/50], Loss: 867.2275
tensor([[ 0.0865, -0.0104,  0.0256, -0.0080, -0.0524, -0.0041]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.0322,  1.6617, -0.1939, -0.2538,  0.9939,  2.1800]],
       device='cuda:0')
1.4639356136322021
AMT done!
Epoch [1/50], Loss: 40523.1445
Epoch [11/50], Loss: 4829.6714
Epoch [21/50], Loss: 1719.1074
Epoch [31/50], Loss: 860.2358
Epoch [41/50], Loss: 512.3237
tensor([[-0.0245, -0.0178, -0.0195, -0.0580,  0.0203,  0.3666]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.8069, -1.1068,  0.8196, -1.5758,  0.9622, -1.7226]],
       device='cuda:0')
1.676356315612793
AMZN done!
Epoch [1/50], Loss: 443994.9062
Epoch [11/50], Loss: 38300.5391
Epoch [21/50], Loss: 28513.5039
Epoch [31/50], Loss: 18678.6406
Epoch [41/50], Loss: 12412.4463
tensor([[-0.0160, -0.0172,  0.0683,  0.0240,  0.0031, -0.0609]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-3.5068, -1.0260,  0.5533, -1.0179,  2.4214, -2.6442]],
       device='cuda:0')
4.507574081420898
AVGO done!
Epoch [1/50], Loss: 239007.9375
Epoch [11/50], Loss: 29513.9043
Epoch [21/50], Loss: 18045.2676
Epoch [31/50], Loss: 10960.0225
Epoch [41/50], Loss: 7103.9590
tensor([[ 0.0041, -0.0150, -0.0689, -0.0463,  0.0257, -0.0289]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.9667, -2.3159,  1.4335, -0.0136, -1.9231, -3.7736]],
       device='cuda:0')
4.385952949523926
AXP done!
Epoch [1/50], Loss: 3074496.7500
Epoch [11/50], Loss: 205490.9375
Epoch [21/50], Loss: 146193.8906
Epoch [31/50], Loss: 110269.6562
Epoch [41/50], Loss: 86245.5391
tensor([[ 0.0127, -0.0468,  0.0109, -0.0859, -0.0094,  0.1830]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.6238, -4.1327,  0.7947, -0.6740,  1.7283, -3.9487]],
       device='cuda:0')
6.737273693084717
BA done!
Epoch [1/50], Loss: 660152.5625
Epoch [11/50], Loss: 10314.7637
Epoch [21/50], Loss: 6751.7007
Epoch [31/50], Loss: 4480.4248
Epoch [41/50], Loss: 3131.5818
tensor([[-0.0273, -0.0211, -0.0122, -0.0732, -0.0478,  0.0660]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.0511, -2.7827,  1.6807, -0.9298,  2.1376,  0.0766]],
       device='cuda:0')
2.668100118637085
BAC done!
Epoch [1/50], Loss: 247056.6406
Epoch [11/50], Loss: 53582.1641
Epoch [21/50], Loss: 15143.5664
Epoch [31/50], Loss: 7614.4448
Epoch [41/50], Loss: 4795.7319
tensor([[ 0.0087,  0.0186,  0.0147,  0.0386, -0.0542, -0.2445]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4661,  1.5425, -1.2262, -4.0208,  1.4015, -2.8412]],
       device='cuda:0')
4.904624938964844
BIIB done!
Epoch [1/50], Loss: 42464.7617
Epoch [11/50], Loss: 3190.0129
Epoch [21/50], Loss: 1220.2135
Epoch [31/50], Loss: 1034.9420
Epoch [41/50], Loss: 712.6069
tensor([[-0.0158, -0.0416,  0.0122, -0.0276,  0.0347, -0.4515]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 1.6063, -0.4913,  1.3096, -1.3562,  2.2556,  3.3210]],
       device='cuda:0')
4.241020679473877
BK done!
Epoch [1/50], Loss: 130567.9062
Epoch [11/50], Loss: 1004.1141
Epoch [21/50], Loss: 294.7236
Epoch [31/50], Loss: 162.6733
Epoch [41/50], Loss: 127.7459
tensor([[ 0.0145, -0.0215,  0.0133, -0.0032, -0.0361, -0.1538]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.8357, -4.5273,  0.5429, -0.4530,  2.0613, -3.2892]],
       device='cuda:0')
5.956313610076904
BKNG done!
Epoch [1/50], Loss: 118773.1641
Epoch [11/50], Loss: 5985.7085
Epoch [21/50], Loss: 1767.3596
Epoch [31/50], Loss: 657.3289
Epoch [41/50], Loss: 281.8419
tensor([[-0.0422, -0.0121, -0.1044,  0.0134, -0.0040, -0.1368]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.0444, -0.7558,  0.8162, -1.9975,  2.2444,  0.2120]],
       device='cuda:0')
1.7701632976531982
BLK done!
Epoch [1/50], Loss: 3190.5203
Epoch [11/50], Loss: 294.0853
Epoch [21/50], Loss: 143.4254
Epoch [31/50], Loss: 88.8305
Epoch [41/50], Loss: 57.6911
tensor([[ 0.0014, -0.0428, -0.0104, -0.1130, -0.0106, -0.0485]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.2139,  0.7317,  0.3632,  0.0000, -0.4674,  0.8402]],
       device='cuda:0')
0.29932674765586853
BMY done!
Epoch [1/50], Loss: 349579.5625
Epoch [11/50], Loss: 4771.1924
Epoch [21/50], Loss: 3005.7700
Epoch [31/50], Loss: 1892.1582
Epoch [41/50], Loss: 1215.6010
tensor([[ 0.0043, -0.0156, -0.0017,  0.0267, -0.0727,  0.2121]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4417, -3.2441,  1.2323, -1.1890,  2.2490, -1.4769]],
       device='cuda:0')
3.6443581581115723
C done!
Epoch [1/50], Loss: 1645858.8750
Epoch [11/50], Loss: 32002.8203
Epoch [21/50], Loss: 6971.8892
Epoch [31/50], Loss: 2692.8938
Epoch [41/50], Loss: 1417.8279
tensor([[ 0.0350,  0.0375,  0.0043, -0.0142,  0.0360, -0.5714]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4157, -2.0483,  2.1219, -1.5358,  0.5330, -1.3927]],
       device='cuda:0')
2.045736312866211
CAT done!
Epoch [1/50], Loss: 238743.7344
Epoch [11/50], Loss: 7705.7373
Epoch [21/50], Loss: 4800.5767
Epoch [31/50], Loss: 2668.6479
Epoch [41/50], Loss: 1499.8008
tensor([[ 0.0878,  0.0117,  0.0383, -0.0098, -0.0090,  0.4733]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.0078,  1.2476,  0.0674,  0.7321, -0.0213,  2.0439]],
       device='cuda:0')
0.7586666941642761
CHTR done!
Epoch [1/50], Loss: 5718.7725
Epoch [11/50], Loss: 360.9326
Epoch [21/50], Loss: 102.4920
Epoch [31/50], Loss: 45.3295
Epoch [41/50], Loss: 25.2368
tensor([[-0.0140,  0.0852,  0.0135, -0.0045,  0.0099, -0.2277]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4089,  1.1945, -0.2213, -0.1232, -1.5546, -1.1276]],
       device='cuda:0')
0.785555362701416
CL done!
Epoch [1/50], Loss: 15783.7207
Epoch [11/50], Loss: 4715.8442
Epoch [21/50], Loss: 2355.7988
Epoch [31/50], Loss: 1409.2229
Epoch [41/50], Loss: 947.2143
tensor([[-0.0139,  0.0009,  0.0375,  0.0397,  0.0462, -0.3443]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.7601,  0.0369,  0.9232, -0.4757, -0.0184, -1.3065]],
       device='cuda:0')
0.838434100151062
CMCSA done!
Epoch [1/50], Loss: 10468.4219
Epoch [11/50], Loss: 43627.7305
Epoch [21/50], Loss: 28390.0508
Epoch [31/50], Loss: 22458.2793
Epoch [41/50], Loss: 17823.7188
tensor([[-0.0241, -0.0279, -0.0478, -0.0010, -0.0503, -0.1482]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.9292, -2.8875,  1.0722,  0.0677,  2.0150, -0.7316]],
       device='cuda:0')
2.4769954681396484
COF done!
Epoch [1/50], Loss: 167757.4531
Epoch [11/50], Loss: 415017.1562
Epoch [21/50], Loss: 178758.1719
Epoch [31/50], Loss: 109266.0469
Epoch [41/50], Loss: 75035.2812
tensor([[ 0.0180, -0.0409,  0.0138,  0.0614, -0.0067,  0.0078]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.3915, -4.4016,  2.8571, -1.1591,  0.5257, -2.6815]],
       device='cuda:0')
6.045635223388672
COP done!
Epoch [1/50], Loss: 42756.8750
Epoch [11/50], Loss: 473.6141
Epoch [21/50], Loss: 172.5269
Epoch [31/50], Loss: 111.0835
Epoch [41/50], Loss: 85.7316
tensor([[-0.0275, -0.0247, -0.0370, -0.0210, -0.0710, -0.5398]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.3156,  0.5899,  0.6349, -0.7565,  0.5441,  0.6905]],
       device='cuda:0')
0.5575629472732544
COST done!
Epoch [1/50], Loss: 31834.1914
Epoch [11/50], Loss: 4408.0815
Epoch [21/50], Loss: 1730.0237
Epoch [31/50], Loss: 886.3467
Epoch [41/50], Loss: 519.7288
tensor([[ 0.0012, -0.0401, -0.0279,  0.0218,  0.0470, -0.0421]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.6080, -1.1019,  1.1405,  0.3426,  0.9336,  0.6899]],
       device='cuda:0')
0.7148107886314392
CRM done!
Epoch [1/50], Loss: 3507.2500
Epoch [11/50], Loss: 109.9505
Epoch [21/50], Loss: 46.8200
Epoch [31/50], Loss: 25.2712
Epoch [41/50], Loss: 16.1815
tensor([[-0.0063, -0.1351, -0.0465, -0.0055, -0.0205, -0.2895]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.0947, -2.0057,  0.2703, -0.8280,  0.7961, -1.6856]],
       device='cuda:0')
1.1503515243530273
CSCO done!
Epoch [1/50], Loss: 57801.3477
Epoch [11/50], Loss: 27109.7090
Epoch [21/50], Loss: 15599.2559
Epoch [31/50], Loss: 8010.7144
Epoch [41/50], Loss: 3949.4683
tensor([[ 1.4291e-02,  2.6314e-02, -3.3389e-02,  1.3741e-02, -1.1362e-06,
         -5.8991e-01]], device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.1713,  0.2112,  1.0407, -0.6780, -0.1706,  0.2240]],
       device='cuda:0')
0.398734450340271
CVS done!
Epoch [1/50], Loss: 58199.5312
Epoch [11/50], Loss: 74908.8203
Epoch [21/50], Loss: 456489.5000
Epoch [31/50], Loss: 323973.7500
Epoch [41/50], Loss: 230106.7812
tensor([[ 0.0187, -0.0963,  0.0354, -0.0134, -0.0605,  0.1301]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.2914, -1.8691,  1.3816, -1.7327,  0.5944, -1.3695]],
       device='cuda:0')
1.777174711227417
CVX done!
Epoch [1/50], Loss: 705952.0625
Epoch [11/50], Loss: 5906.0679
Epoch [21/50], Loss: 3101.8721
Epoch [31/50], Loss: 1862.6630
Epoch [41/50], Loss: 1196.8381
tensor([[ 0.0174,  0.0026, -0.0284, -0.0424,  0.0516,  0.2977]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.0649, -2.3905,  3.1412, -2.5035,  1.6678, -0.2727]],
       device='cuda:0')
4.1291279792785645
DD done!
Epoch [1/50], Loss: 18340.3008
Epoch [11/50], Loss: 2518.0852
Epoch [21/50], Loss: 801.6190
Epoch [31/50], Loss: 403.4147
Epoch [41/50], Loss: 259.3820
tensor([[-0.0023, -0.0071,  0.0103, -0.0656,  0.0162,  0.3392]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4402, -0.0579,  1.0544,  3.4861,  2.7123,  6.8790]],
       device='cuda:0')
10.65600299835205
DHR done!
Epoch [1/50], Loss: 150833.2969
Epoch [11/50], Loss: 28220.8066
Epoch [21/50], Loss: 13673.1523
Epoch [31/50], Loss: 7851.1973
Epoch [41/50], Loss: 4828.6553
tensor([[ 0.0426, -0.0025, -0.0009,  0.0138, -0.0006,  0.2412]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.0908, -2.4756,  0.1751, -0.1911,  0.1423, -2.2642]],
       device='cuda:0')
2.0814895629882812
DIS done!
Epoch [1/50], Loss: 283008768.0000
Epoch [11/50], Loss: 8063114.5000
Epoch [21/50], Loss: 3817658.2500
Epoch [31/50], Loss: 2226362.0000
Epoch [41/50], Loss: 1450479.3750
tensor([[ 0.0712,  0.0714,  0.0034, -0.0249,  0.0673,  0.0947]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.2010, -3.2068,  3.7452, -6.0012,  1.9366, -3.9734]],
       device='cuda:0')
13.430500030517578
DOW done!
Epoch [1/50], Loss: 7114.6528
Epoch [11/50], Loss: 6094.1597
Epoch [21/50], Loss: 9996.6943
Epoch [31/50], Loss: 14259.6309
Epoch [41/50], Loss: 17430.3301
tensor([[ 0.0425, -0.0518, -0.0290,  0.0562, -0.0239,  0.0690]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4669,  1.2076, -0.3156, -0.9991, -0.2298, -0.8145]],
       device='cuda:0')
0.6440818309783936
DUK done!
Epoch [1/50], Loss: 21893.6582
Epoch [11/50], Loss: 2901.4011
Epoch [21/50], Loss: 909.5160
Epoch [31/50], Loss: 451.7651
Epoch [41/50], Loss: 274.6903
tensor([[ 0.0122, -0.0049, -0.0042,  0.0449, -0.0776, -0.4394]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4447, -1.0459,  1.4092, -0.6405,  1.0271,  0.2820]],
       device='cuda:0')
0.916775107383728
EMR done!
Epoch [1/50], Loss: 18842.2832
Epoch [11/50], Loss: 148452.2031
Epoch [21/50], Loss: 10810.5146
Epoch [31/50], Loss: 6058.6416
Epoch [41/50], Loss: 4885.7100
tensor([[-0.0951,  0.0432, -0.0150, -0.0162, -0.0291,  0.0237]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.4298,  0.6593, -0.2620, -1.3135, -0.3771, -2.7080]],
       device='cuda:0')
1.9146841764450073
EXC done!
Epoch [1/50], Loss: 3638022.2500
Epoch [11/50], Loss: 112470.3203
Epoch [21/50], Loss: 70913.8594
Epoch [31/50], Loss: 56361.8945
Epoch [41/50], Loss: 47399.7695
tensor([[ 0.0902, -0.0007,  0.0231, -0.0133, -0.0009,  0.5490]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.9812, -5.4500,  2.4454,  1.7903,  2.3451, -0.0818]],
       device='cuda:0')
7.644212245941162
F done!
Epoch [1/50], Loss: 19761.9082
Epoch [11/50], Loss: 555.1928
Epoch [21/50], Loss: 330.3082
Epoch [31/50], Loss: 261.0499
Epoch [41/50], Loss: 208.9458
tensor([[-0.0079, -0.0632,  0.0414, -0.0106, -0.0565,  0.0280]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.2868,  0.1357, -0.3899, -1.6420,  1.5547, -1.6494]],
       device='cuda:0')
1.655371069908142
FB done!
Epoch [1/50], Loss: 8659.3516
Epoch [11/50], Loss: 48582.1133
Epoch [21/50], Loss: 22234.4961
Epoch [31/50], Loss: 12903.9707
Epoch [41/50], Loss: 8144.6636
tensor([[-0.0048, -0.0138, -0.0103,  0.0439,  0.0604,  0.0937]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.5091, -1.0274, -0.7420, -0.6181,  0.4339, -3.4250]],
       device='cuda:0')
2.797410011291504
FDX done!
Epoch [1/50], Loss: 18384.6426
Epoch [11/50], Loss: 1089.5281
Epoch [21/50], Loss: 473.6617
Epoch [31/50], Loss: 285.2036
Epoch [41/50], Loss: 193.6259
tensor([[-0.0036,  0.0679, -0.0133,  0.0173, -0.0204,  0.1259]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.1735, -0.3896,  0.9670, -0.7264,  1.0732,  1.0896]],
       device='cuda:0')
0.6465479135513306
GD done!
Epoch [1/50], Loss: 987274.4375
Epoch [11/50], Loss: 59325.4961
Epoch [21/50], Loss: 26460.6953
Epoch [31/50], Loss: 15802.0811
Epoch [41/50], Loss: 10751.4648
tensor([[-0.0240,  0.0006,  0.0337, -0.0174, -0.0463,  0.1248]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.5228, -2.9718,  2.2205,  0.4494,  1.0440,  1.1949]],
       device='cuda:0')
2.744652271270752
GE done!
Epoch [1/50], Loss: 141574.4219
Epoch [11/50], Loss: 5500.7773
Epoch [21/50], Loss: 2178.5154
Epoch [31/50], Loss: 1142.6981
Epoch [41/50], Loss: 693.2068
tensor([[ 0.0136, -0.0951,  0.0108,  0.0012, -0.0029,  0.0029]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.3758,  0.6520,  0.6177, -1.7218, -0.2437, -2.0787]],
       device='cuda:0')
1.7027561664581299
GILD done!
Epoch [1/50], Loss: 763743.1250
Epoch [11/50], Loss: 30702.2227
Epoch [21/50], Loss: 9668.3721
Epoch [31/50], Loss: 4512.4019
Epoch [41/50], Loss: 2497.8022
tensor([[ 0.0398,  0.0383,  0.0812, -0.0130, -0.0138, -0.0059]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-1.4137, -3.6455,  3.0841, -1.4437,  1.5355, -2.0099]],
       device='cuda:0')
5.527252197265625
GM done!
Epoch [1/50], Loss: 2785303.2500
Epoch [11/50], Loss: 4423.4072
Epoch [21/50], Loss: 1497.2609
Epoch [31/50], Loss: 686.0384
Epoch [41/50], Loss: 421.4804
tensor([[-0.0152, -0.0454,  0.0251, -0.0163,  0.0003,  0.2726]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.2019, -0.3809, -0.0148, -1.1063,  2.0891,  0.7634]],
       device='cuda:0')
0.9922511577606201
GOOG done!
Epoch [1/50], Loss: 61916.2812
Epoch [11/50], Loss: 5078.6680
Epoch [21/50], Loss: 2780.8269
Epoch [31/50], Loss: 1830.8982
Epoch [41/50], Loss: 1267.0562
tensor([[-0.0519, -0.0074, -0.0181,  0.0281,  0.0124, -0.0007]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.3071, -0.4695, -0.0290, -1.1337,  2.1047,  0.7526]],
       device='cuda:0')
1.1062431335449219
GOOGL done!
Epoch [1/50], Loss: 5437.3125
Epoch [11/50], Loss: 7342.3896
Epoch [21/50], Loss: 2055.7261
Epoch [31/50], Loss: 909.3021
Epoch [41/50], Loss: 506.0060
tensor([[-0.0235, -0.0023,  0.0203, -0.0045,  0.0498,  0.2871]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[ 0.2279, -3.2674,  1.0214, -1.3183,  2.5691, -0.8647]],
       device='cuda:0')
3.521050453186035
GS done!
Epoch [1/50], Loss: 86662.9766
Epoch [11/50], Loss: 6464.5005
Epoch [21/50], Loss: 2233.2354
Epoch [31/50], Loss: 1093.5208
Epoch [41/50], Loss: 600.8325
tensor([[-0.0178, -0.1105, -0.0189, -0.0035, -0.0133, -0.0744]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.3749, -0.8842,  0.6143, -1.3775,  0.7559, -1.2771]],
       device='cuda:0')
0.8422269225120544
HD done!
Epoch [1/50], Loss: 31068.0000
Epoch [11/50], Loss: 2413.4902
Epoch [21/50], Loss: 996.0430
Epoch [31/50], Loss: 529.3576
Epoch [41/50], Loss: 326.2094
tensor([[-0.0209,  0.0339, -0.0097, -0.0759, -0.0065,  0.0386]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.4911, -1.5760,  1.3944, -0.5380, -2.0762, -3.2786]],
       device='cuda:0')
3.3809714317321777
HON done!
Epoch [1/50], Loss: 10901.1416
Epoch [11/50], Loss: 603.0441
Epoch [21/50], Loss: 123.8394
Epoch [31/50], Loss: 62.8098
Epoch [41/50], Loss: 39.6015
tensor([[-0.0096,  0.0066, -0.0163,  0.0230,  0.0057, -0.0638]],
       device='cuda:0', grad_fn=<AddmmBackward>)
tensor([[-0.3518,  3.7861,  3.9013, -1.5813,  0.8140,  6.6173]],
       device='cuda:0')
12.93537712097168
IBM done!

In [ ]:
stock_ticker_list = pd.read_csv('./data/Stock/Stock_Ticker_List.csv')
stock_ticker_list['Symbol'].values

array(['AAPL', 'ABBV', 'ABT', 'ACN', 'ADBE', 'AIG', 'AMGN', 'AMT', 'AMZN',
       'AVGO', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'BKNG', 'BLK', 'BMY',
       'C', 'CAT', 'CHTR', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CRM',
       'CSCO', 'CVS', 'CVX', 'DD', 'DHR', 'DIS', 'DOW', 'DUK', 'EMR',
       'EXC', 'F', 'FB', 'FDX', 'GD', 'GE', 'GILD', 'GM', 'GOOG', 'GOOGL',
       'GS', 'HD', 'HON', 'IBM'], dtype=object)

In [ ]:
if i != 5:
    print('hello')

hello

In [ ]:
fo = open("foo.txt", "w")
a = outputs.detach().view(5).numpy()
b = a/100+1
a = np.append(a,np.prod(b)-1)
s = np.array2string(a,formatter={'float_kind':lambda x: "%.2f" % x},separator=',')[1:-1]
fo.write(s)
fo.close()

In [ ]:
a = outputs.detach().view(5).numpy()
b = a/100+1
print(b)
print(np.prod(b))
a = np.append(a,np.prod(b)-1)
a

[1.0021372 1.0047051 0.9980838 1.0019469 0.9879443]
0.9947407

array([ 0.21372202,  0.47051078, -0.19162057,  0.19469385, -1.20557022,
       -0.00525928])

In [ ]:
X_train,Y_train, X_test, Y_test = getData('BK')
outputs = predict(X_train,Y_train, X_test)
print(outputs)
ytt = torch.from_numpy(Y_test.values).float()
criterion(outputs, ytt)